h1 {
  @apply text-3xl font-black sm:text-4xl;
  letter-spacing: 0.005em;
}

h2 {
  @apply text-2xl font-bold sm:text-3xl;
}

h3 {
  @apply pb-2 text-xl sm:text-2xl;
}

a {
  @apply cursor-pointer text-black hover:text-yellow-600 dark:hover:text-yellow-300;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.highlight {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: theme("colors.yellow.600");
  text-decoration-thickness: 1.5px;
  text-underline-offset: 1px;
  &.highlight-red {
    @apply hover:text-red-500;
    text-decoration-color: theme("colors.red.500");
  }
}

.dark .highlight {
  text-decoration-color: theme("colors.yellow.300");
  &.highlight-red {
    text-decoration-color: theme("colors.red.500");
  }
}
