[data-rk]
  .iekbcc0.iekbcc9.ju367v6v.ju367v7g.ju367v80.ju367v69.ju367v4.ju367v9o.ju367vn.ju367vdr.ju367vf3.ju367vb.ju367va.ju367v11.ju367v1c.ju367v1k.ju367v8i._12cbo8i3.ju367v8g._12cbo8i4._12cbo8i6,
[data-rk]
  .iekbcc0.ju367v6u.ju367v7f.ju367v7z.ju367v68.ju367v9u.ju367vc0.ju367vn.ju367vt.ju367vw.ju367vf3.ju367v11.ju367v1c.ju367v8i {
  font-family: Space Mono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

[data-rk] .iekbcc0.ju367v80.ju367v69.ju367v6w.ju367v7f.ju367v9.ju367v6 {
  font-family: Space Mono, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 0.925rem;
}
