:root {
  --black: #0f1115;
  --white: #fff;
}
.dark {
  --black: #fff;
  --white: #0f1115;
}

.clickable {
  @apply cursor-pointer;
}

.clickable .active {
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-color: theme("colors.blue.600");
  text-decoration-thickness: 2px;
  text-underline-offset: 1px;
}

.imageContainer > div {
  min-width: 100%;
}

.background-modal {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, white 1px);
  background-size: 4px 4px;
  backdrop-filter: brightness(100%) blur(3px);
}

.dark .background-modal {
  background-image: radial-gradient(rgba(0, 0, 0, 0) 1px, black 1px);
}

input[type="range"] {
  @apply mt-3 h-1 cursor-default rounded-none py-0 pl-3 pr-3 bg-gray-200 focus:border-gray-400 dark:focus:border-gray-500;
}

/* Special styling for WebKit/Blink */
input[type="range"]::-webkit-slider-thumb {
  @apply focus:outline-none;
  -webkit-appearance: none;
  border: 2px solid theme("colors.blue.600");
  height: 13px;
  width: 13px;
  background: #ffffff;
  cursor: pointer;
  box-shadow: 1px 1px 0.5px #000000;
}

/* All the same stuff for Firefox */
input[type="range"]::-moz-range-thumb {
  @apply focus:outline-none;
  box-shadow: 1px 1px 0.5px #000000;
  border: 2px solid theme("colors.blue.600");
  height: 13px;
  width: 13px;
  background: #ffffff;
  cursor: pointer;
}

// Table styling
table {
  @apply mx-auto w-full border-collapse border text-sm border-gray-200;
}

th,
td {
  @apply py-2.5 px-2;
}

th {
  @apply font-normal;
}

th[scope="row"] {
  @apply font-bold;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
